In [51]:
import pandas as pd

df = pd.read_csv("/Users/durvadhok/BU/lab-3-data-parsing/data/messy_strings.csv")
print(df)

             raw  clean
0           BOB(    NaN
1        dana~      NaN
2          {EVE/    NaN
3      "ALICE       NaN
4            BOB    NaN
5           DANA    NaN
6        CHARLIE    NaN
7       alice       NaN
8          FRANK    NaN
9            bob    NaN
10           eve    NaN
11        \dana'    NaN
12           EVE    NaN
13      CHARLIE     NaN
14          -eve    NaN
15        bob       NaN
16           EVE    NaN
17     .FRANK       NaN
18          eve     NaN
19           EVE    NaN
20          BOB&    NaN
21      charlie"    NaN
22    ,charlie      NaN
23         EVE      NaN
24         ]dana    NaN
25     charlie      NaN
26        alice+    NaN
27         EVE{     NaN
28          DANA    NaN
29       frank      NaN
30      CHARLIE!    NaN
31      |ALICE#     NaN
32           BOB    NaN
33        frank^    NaN
34         alice    NaN
35          'bob    NaN
36       CHARLIE    NaN
37         eve+     NaN
38      CHARLIE     NaN
39       charlie    NaN
40         dana#    NaN
41       DANA       NaN
42          dana    NaN
43       CHARLIE    NaN
44    =charlie!     NaN
45        bob       NaN
46           bob    NaN
47       ;EVE       NaN
48    =charlie      NaN
49          dana    NaN

In [131]:
import string
def clean_strings(strings):
    cleaned = strings.str.lower()
    cleaned = cleaned.str.replace(",","").str.replace("!","").str.replace("?","").str.replace(".","").str.replace(";","").str.replace(":","").str.replace("{","").str.replace("/","").str.replace("=","").str.replace("(","").str.replace("~","").str.replace("'","").str.replace('"',"").str.replace("&","").str.replace("+","").str.replace("-","").str.replace("]","").str.replace("^","").str.replace("#","").str.replace("|","")
    cleaned = cleaned.str.replace(" ","")
    cleaned = cleaned.str.replace("\\","")
    return(cleaned)

In [127]:
df['clean'] = clean_strings(df['raw'])
print(df['clean'])

0         bob
1        dana
2         eve
3       alice
4         bob
5        dana
6     charlie
7       alice
8       frank
9         bob
10        eve
11      \dana
12        eve
13    charlie
14        eve
15        bob
16        eve
17      frank
18        eve
19        eve
20        bob
21    charlie
22    charlie
23        eve
24       dana
25    charlie
26      alice
27        eve
28       dana
29      frank
30    charlie
31      alice
32        bob
33      frank
34      alice
35        bob
36    charlie
37        eve
38    charlie
39    charlie
40       dana
41       dana
42       dana
43    charlie
44    charlie
45        bob
46        bob
47        eve
48    charlie
49       dana
Name: clean, dtype: object

In [128]:
total_rows = len(df['clean'])
unique_count = (df['clean']).nunique
most_common_strings = (df['clean']).value_counts().idxmax

In [130]:
df.to_csv("/Users/durvadhok/BU/lab-3-data-parsing/data/messy_strings.csv", index=False)