In [7]:
import pandas as pd

df = pd.read_csv("/Users/durvadhok/BU/lab-3-data-parsing/data/messy_strings.csv")
print(df)

             raw  clean
0           BOB(    NaN
1        dana~      NaN
2          {EVE/    NaN
3      "ALICE       NaN
4            BOB    NaN
5           DANA    NaN
6        CHARLIE    NaN
7       alice       NaN
8          FRANK    NaN
9            bob    NaN
10           eve    NaN
11        \dana'    NaN
12           EVE    NaN
13      CHARLIE     NaN
14          -eve    NaN
15        bob       NaN
16           EVE    NaN
17     .FRANK       NaN
18          eve     NaN
19           EVE    NaN
20          BOB&    NaN
21      charlie"    NaN
22    ,charlie      NaN
23         EVE      NaN
24         ]dana    NaN
25     charlie      NaN
26        alice+    NaN
27         EVE{     NaN
28          DANA    NaN
29       frank      NaN
30      CHARLIE!    NaN
31      |ALICE#     NaN
32           BOB    NaN
33        frank^    NaN
34         alice    NaN
35          'bob    NaN
36       CHARLIE    NaN
37         eve+     NaN
38      CHARLIE     NaN
39       charlie    NaN
40         dana#    NaN
41       DANA       NaN
42          dana    NaN
43       CHARLIE    NaN
44    =charlie!     NaN
45        bob       NaN
46           bob    NaN
47       ;EVE       NaN
48    =charlie      NaN
49          dana    NaN

In [9]:
import string
def clean_strings(strings):
    strings.replace(" ","")
    strings.str.lower()
    strings.replace(",","").replace("!","").replace("?","").replace(".","").replace(";","").replace(":","")
    filter("", strings)
    return cleaned

print(df)

             raw  clean
0           BOB(    NaN
1        dana~      NaN
2          {EVE/    NaN
3      "ALICE       NaN
4            BOB    NaN
5           DANA    NaN
6        CHARLIE    NaN
7       alice       NaN
8          FRANK    NaN
9            bob    NaN
10           eve    NaN
11        \dana'    NaN
12           EVE    NaN
13      CHARLIE     NaN
14          -eve    NaN
15        bob       NaN
16           EVE    NaN
17     .FRANK       NaN
18          eve     NaN
19           EVE    NaN
20          BOB&    NaN
21      charlie"    NaN
22    ,charlie      NaN
23         EVE      NaN
24         ]dana    NaN
25     charlie      NaN
26        alice+    NaN
27         EVE{     NaN
28          DANA    NaN
29       frank      NaN
30      CHARLIE!    NaN
31      |ALICE#     NaN
32           BOB    NaN
33        frank^    NaN
34         alice    NaN
35          'bob    NaN
36       CHARLIE    NaN
37         eve+     NaN
38      CHARLIE     NaN
39       charlie    NaN
40         dana#    NaN
41       DANA       NaN
42          dana    NaN
43       CHARLIE    NaN
44    =charlie!     NaN
45        bob       NaN
46           bob    NaN
47       ;EVE       NaN
48    =charlie      NaN
49          dana    NaN

In [38]:
 df['clean'] = clean_strings(df['raw'])

In [45]:
total_rows = len(df['clean'])
unique_count = (df['clean']).nunique
most_common_strings = (df['clean']).value_counts().idxmax

In [46]:
df.to_csv("/Users/durvadhok/BU/data/messy_strings.csv", index=False)